<%= form_with(model: client, html: { class: 'form-horizontal form-label-left' }, local: true) do |form| %>
  <% if client.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(client.errors.count, "error") %> prohibited this client from being saved:</h2>

      <ul>
      <% client.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <table class="" >
    <tr>
      <th><%= form.label :avatar, class: "flow-text" %></th>
      <td><%= form.file_field :avatar %></td>
    </tr>
    
    <% unless client.new_record? %>
      <tr>
        <th colspan="2" style="text-align: center;"><%= image_tag @client.avatar.url(:small) %></th>
      </tr>
    <% end %>
    
    <tr>
      <th><%= form.label I18n.t('attributes.clients.first_name'), class: "flow-text" %></th>
      <td><%= form.text_field :first_name, class: 'validate input-form', id: :client_first_name, required: 'required' %></td>
    </tr>
    
    <tr>
      <th><%= form.label I18n.t('attributes.clients.last_name'), class: "flow-text" %></th>
      <td><%= form.text_field :last_name, class: 'validate input-form',id: :client_last_name, required: 'required' %></td>
    </tr>
    
    <tr>
      <th><%= form.label I18n.t('attributes.clients.type_document'), class: "flow-text" %></th>
      <td>
        <%= form.select :type_id, {
                                  "Adulto sin identificación" => "1", 
                                  "Cédula" => "2", 
                                  "Cédula extranjera" => "3", 
                                  "Menor sin identificación" => "4", 
                                  "Tarjeta de identificación" => "5", 
                                  "Pasaporte" => "6"}, {include_blank: false }, {:class => "browser-default input-form"} %>
      </td>
    </tr>
    
    <tr>
      <th><%= form.label I18n.t('attributes.clients.number_document'), class: "flow-text" %></th>
      <td><%= form.text_field :number_id, class: "validate input-form", id: :client_number_id, required: 'required' %></td>
    </tr>
    
    <tr>
      <th><%= form.label I18n.t('attributes.clients.birthdate'), class: "flow-text" %></th>
      <td><%= form.date_field :birthdate, class: "validate input-form", id: :birthdate, required: 'required' %></td>
    </tr>
    
    <tr>
      <th><%= form.label I18n.t('attributes.clients.gender'), class: "flow-text" %></th>
      <td><%= form.select :gender, {
                                  "Female" => "Female", 
                                  "Male" => "Male"}, {include_blank: false }, {:class => "browser-default input-form"} %></td>
    </tr>
    
    <tr>
      <th><%= form.label I18n.t('attributes.clients.country'), class: "flow-text" %></th>
      <td><%= form.select :country_id, Country.all.order_by(['name', 1]).map{|c| [c.name, c.country_id]}, {include_blank: false }, {:class => "browser-default input-form"}  %></td>
    </tr>
    
    <tr>
      <th><%= form.label I18n.t('attributes.clients.departament'), class: "flow-text" %></th>
      <td><%= form.select :departament_id, Departament.all.order_by(['name', 1]).map{|c| [c.name, c.code]}, {include_blank: false }, {:class => "browser-default input-form"}  %></td>
    </tr>
    
    <tr>
      <th><%= form.label I18n.t('attributes.clients.city'), class: "flow-text" %></th>
      <td><%= form.select :city_id,  City.order_by(["name", 1]).map{|c| [c.name, c.code]}, {include_blank: false }, {:class => "browser-default input-form"} %></td>
    </tr>
    
    <tr>
      <th colspan="2" style="text-align: center;">
        <%= link_to I18n.t('actions.go_to_list'),clients_path, class: "btn waves-effect waves-light pink" %>
        <%= form.submit I18n.t('actions.' + (client.new_record? ? 'create' : 'save_changes')), class: "btn waves-effect waves-light pink" %>
      </th>
    </tr>
    
  </table>
<% end %>
