  <p id="notice"><%= notice %></p>
  
  <h4 class="indigo-text" style="color: #e91e63 !important" ><%= I18n.t('models.clients.title') %></h4>
  <table id="datatable">
    <thead>
      <tr>
        <th><%= I18n.t('attributes.clients.first_name') %></th>
        <th><%= I18n.t('attributes.clients.last_name') %></th>
        <th><%= I18n.t('attributes.clients.type_document') %></th>
        <th><%= I18n.t('attributes.clients.number_document') %></th>
        <th><%= I18n.t('attributes.clients.city') %></th>
        <th></th>
      </tr>
    </thead>
  
    <tbody>
      <% @clients.each do |client| %>
        <tr>
          <td><%= client.first_name %></td>
          <td><%= client.last_name %></td>
          <td><%= client.type_id.blank? ? '' : client.typeDocument.name %></td>
          <td><%= client.number_id %></td>
          <td><%= client.city.blank? ? '' : client.city.name %></td>
          <td><%= link_to I18n.t('actions.show') , client %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  
  <br>
  
  <%= link_to I18n.t('models.clients.new'), new_client_path, class: 'btn waves-effect waves-light pink' %>