  <p id="notice"><%= notice %></p>
  
  <span class="collection-header"><h2><%= I18n.t('models.clients.title') %></h2></span>
  <table>
    <thead>
      <tr>
        <th><%= I18n.t('attributes.clients.first_name') %></th>
        <th><%= I18n.t('attributes.clients.last_name') %></th>
        <th><%= I18n.t('attributes.clients.type_document') %></th>
        <th><%= I18n.t('attributes.clients.number_document') %></th>
        <th><%= I18n.t('attributes.clients.city') %></th>
        <!-- <th>Birthdate</th>-->
        <th colspan="3"></th>
      </tr>
    </thead>
  
    <tbody>
      <% @clients.each do |client| %>
        <tr>
          <td><%= client.first_name %></td>
          <td><%= client.last_name %></td>
          <td><%= client.type_id %></td>
          <td><%= client.number_id %></td>
          <td><%= client.city.blank? ? '' : client.city.name %></td>
          <%#*<td><%= client.birthdate %></td><%#*%>
          <td><%= link_to I18n.t('actions.show') , client %></td>
          <td><%= link_to I18n.t('actions.edit') , edit_client_path(client) %></td>
          <td><%= link_to I18n.t('actions.delete') , client, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
      <tr>
        <td colspan="8" style="text-align: center;">
          <%= will_paginate @clients %>
        </td>
      </tr>
    </tbody>
  </table>
  
  <br>
  
  <%= link_to I18n.t('models.clients.new'), new_client_path, class: 'btn waves-effect waves-light pink' %>