 
    <h4 class="indigo-text" style="color: #e91e63 !important" ><%= I18n.t('models.clients.showTitle') %>: <%= @client.first_name %> <%= @client.last_name %></h4>
    <table class="" >
      <tr>
        <th><p id="notice"><%= notice %></p></th>
      </tr>
      
      <tr>
        <th style="text-align: center;" colspan="2"><%= image_tag @client.avatar.url(:small) %></th>
      </tr>
      
      <tr>
        <th><%= I18n.t('attributes.clients.first_name') %></th>
        <td><%= @client.first_name %></td>
      </tr>
      
      <tr>
        <th><%= I18n.t('attributes.clients.last_name') %></th>
        <td><%= @client.last_name %></td>
      </tr>
      
      <tr>
        <th><%= I18n.t('attributes.clients.type_document') %></th>
        <td><%= @client.type_id.blank? ? '' : @client.typeDocument.name %></td>
      </tr>
      
      <tr>
        <th><%= I18n.t('attributes.clients.number_document') %></th>
        <td><%= @client.number_id %></td>
      </tr>
      
      <tr>
        <th><%= I18n.t('attributes.clients.birthdate') %></th>
        <td><%= @client.birthdate %></td>
      </tr>
      
      <tr>
        <th><%= I18n.t('attributes.clients.gender') %></th>
        <td><%= @client.gender %></td>
      </tr>
      
      <tr>
        <th><%= I18n.t('attributes.clients.country') %></th>
        <td><%= @client.country_id.blank? ? '' : @client.country.name %></td>
      </tr>
      
      <tr>
        <th><%= I18n.t('attributes.clients.departament') %></th>
        <td><%= @client.departament_id.blank? ? '' : @client.departament.name %></td>
      </tr>
      
      <tr>
        <th><%= I18n.t('attributes.clients.city') %></th>
        <td><%= @client.city.blank? ? '' : @client.city.name %></td>
      </tr>
      
      <tr>
        <td colspan="2" style="text-align: center;">
          <%= link_to I18n.t('actions.go_to_list'), clients_path, class: 'btn waves-effect waves-light pink' %>
          <%= link_to I18n.t('actions.modify'), edit_client_path(@client), class: 'btn waves-effect waves-light pink' %> 
        </td>
      </tr>
    </table>





<%#*<p>
  <strong>Birthdate:</strong>
  <%= @client.birthdate %>
<%#*</p>%>



