<table>
  <tr>
    <th colspan="2"><p id="notice"><%= notice %></p></th>
  </tr>
  
  <tr>
    <th><%= I18n.t('attributes.departaments.cod_departament') %></th>
    <td><%= @departament.code %></td>
  </tr>
  
  <tr>
    <th><%= I18n.t('attributes.departaments.nom_departament') %></th>
    <td><%= @departament.name %></td>
  </tr>
  
  <tr>
    <th><%= I18n.t('attributes.departaments.cod_country_dep') %></th>
    <td><%= @departament.country_id %></td>
  </tr>
  
  <tr>
    <th><%= I18n.t('attributes.departaments.country_departament') %></th>
    <td><%= @departament.country_id.blank? ? '' : @departament.country.name %></td>
  </tr>
  
  <tr>
    <td colspan="2" style="text-align: center;">
      <%= link_to I18n.t('actions.go_to_list'), departaments_path, class: 'btn waves-effect waves-light pink' %>
      <%# link_to I18n.t('actions.modify'), edit_departament_path(@departament), class: 'btn waves-effect waves-light pink' %> 
    </td>
  </tr>
</table>