<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @departament.code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @departament.name %>
</p>

<p>
  <strong>Country:</strong>
  <%= @departament.country_id %>
</p>

<%= link_to 'Edit', edit_departament_path(@departament) %> |
<%= link_to 'Back', departaments_path %>
