<p id="notice"><%= notice %></p>

<h1>Cities</h1>

<table>
  <thead>
    <tr>
      <th><%= I18n.t('attributes.cities.cod_city') %></th>
      <th><%= I18n.t('attributes.cities.nom_city') %></th>
      <th><%= I18n.t('attributes.cities.dep_city') %></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @cities.each do |city| %>
      <tr>
        <td><%= city.code %></td>
        <td><%= city.name %></td>
        <td><%= city.depart_id %></td>
        <td><%= link_to I18n.t('actions.show') , city %></td>
      </tr>
    <% end %>
    <tr>
        <td colspan="8" style="text-align: center;">
          <%= will_paginate @cities %>
        </td>
      </tr>
  </tbody>
</table>

<br>

<%= link_to 'New City', new_city_path %>
